@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared-styles */

.nav, .school, .nav-list{
  display:flex;
}

.nav{
  justify-content:space-between;
  }
  .orange{
    color: rgba(254, 163, 1, 1);
  }
  .skyblue{
    color: rgba(1, 172, 253, 1);
  }
  .aqua{
    color: rgba(5, 212, 223, 1);
  }
  .purple{
    color: rgba(93, 88, 239, 1);
  }

  .orange2{
    background-color: rgba(254, 163, 1, 1);
  }

  .black{background-color: rgba(17, 17, 17, 1);}

  .curriculum-title, .story-title{
    margin-bottom: 80px;
    color: rgba(17, 17, 17, 1);
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
  }

/* header starts here */
.navbar{
  width:1440px;
  margin:0 auto;
}



.nav{ align-items: center;
  
}
.school{
  gap:10;
}

.school-icon{
  height:100%;
}

.school-title{
  font-size: 2rem;
}
.list-item{
  list-style: none;
  margin-right: 30px;
  font-size: 1.25rem;
  font-weight:700;
}
.nav-link{
  text-decoration: none;
}

.btn-primary{
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 12px;
  border:none;
  padding: 10px 60px;
  color:white;
}

/* banner section */

/* .main{
  max-width:1440px;
  margin:0 auto;
} */


.banner-title{
  font-size: 3.5rem;
  font-weight: 700;

}

.banner-description{
  font-size: 1.25rem;
  font-weight: 400;
}

/* .banner-content{grid-area: banner-content;}
.banner-img{grid-area: banner-img;
width:100%;} */

.banner{
  width:1440px;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  gap:300px;
  /* grid-template-areas:
  "banner-content banner-img"
  ; */
}



/* curriculum */

.curriculum{
  width:1440px;
  margin:0 auto;
  background-image: url(../assets/bg.png);
}



.curriculum-content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:25px;
}
.btn{
  font-size: 1rem;
  font-weight: 700;
  border:none;
  background-color: white;
  /* padding:0;
  margin-top: 32px; */
}

.display-flex{
  display:flex;
}
.school-years{
  /* width:360px;
  width:470px; */
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:50px 40px;
  border-radius: 18px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.grade-title, .heading1{
  color:#202020;
  font-size: 1.5rem;
  font-weight: 700;
}

.grade-detail, .story{
  color:#808080;
  font-size: 1rem;
  font-weight: 500;
}

#gradient-1{
  background: linear-gradient(180deg, #DEF5FF, #ffffff);
}
#gradient-2{
  background: linear-gradient(180deg, #FFF4DC, #ffffff);
}
#gradient-3{
  background: linear-gradient(180deg, #F2E8FF, #ffffff);
}
.arrow1, .arrow2, .btn:hover{
  cursor:pointer;
}

.arrow{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap:5px;
}
.arrow1, .arrow2{
  width:60px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color:white;
  background-color: #FEA301;
  border-radius:30%;
}


/* story */
.stories{
  width:1440px;
  margin:0 auto;
  border-bottom: 10px solid white;
  background: url('../assets/bg.png'), linear-gradient(to top, #fae7c6, #ffffff);

}
.story-section{
  width:1080px;
  margin: 0 auto;

}
#big-card{
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  grid-row: span 3;
}
#big-card img{
  /* border-radius: 16px; */

}

#big-card .card-date1{
  width:180px;
  height:48px;
  text-align: center;
  font-size:1rem;
  font-weight: 500;
  color:white;
  border:none;
  border-radius:47px;
  background-color: #3CD8E8;
}

.card-date{
  width:175px;
  height:38px;
  text-align: center;
  font-size:1rem;
  font-weight: 500;
  color:white;
  border:none;
  border-radius:47px;
  background-color: #95B226;
}
.heading{
  font-size: 1rem;
  font-weight: 700;
}
/* .heading1{
  margin-bottom:5px;
}
.story{
  margin-bottom:20px;
} */

.card-content1{
  padding:;
 
  margin:-20px 35px;
}
.card-content{
  
  margin:-30px 35px;
}

.story-content{
  /* height:635px; */
  /* margin-left: 140px;
  margin-right: 140px; */
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:18.5px;

  /* border: 2px solid tomato; */
}
.four{
 /* width:100%; */
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:18px;
}
.card-1, .card-2, .card-3, .card-4, .card-5{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.card-image{
  border-radius: 16px;
}

.view{
  margin:80px 620px;
}


/* Footer */

.footer{
  width:1440px;
  background-color: #1f2829;
  margin: 0 auto;
}

.footer-div{
  display:flex;
  align-items: center;
  width:1080px;
  margin: 0 auto;
  gap:150px;
}
.education-img{
  margin-top:20px;
  align-items: center;
}
.education-left{
  max-width:350px;
  display:flex;
  flex-direction: column;
}
.education-title{
  font-size: 2rem;
  font-weight: 700;
  color:white;
}
.education-para{
  font-size: 1.25rem;
  font-weight: 400;
  color:white;
}
.footer-li{
  list-style: none;
}
.footer-link{
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
}
.education-right img{
  margin-right: 10px;
}
#footer-about{
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-li-1{
  margin-bottom: 10px;
  list-style: none;
}
.keep-touch{
  font-size: 1.6rem;
  font-weight: 700;
  color:white;
}


/* media query */
@media screen and (max-width: 576px) {
  .banner{flex-direction:column;
  gap:20px;
  }
  .banner-content{
    justify-content: center;
    align-items: center;
    order: 2;
  }
  .banner-img{width:100%;
    order: 1;
  }

.school-title, .list-item, #contact{display:none;}
.navbar{
  padding: 10px;
  border-bottom: 1px solid #FEA301;}
  .curriculum-content{
    grid-template-columns: repeat(1, 1fr);
  }
}