@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared-styles */

.nav, .school, .nav-list{
  display:flex;
}

.nav{
  justify-content:space-between;
  }
  .orange{
    color: rgba(254, 163, 1, 1);
  }
  .skyblue{
    color: rgba(1, 172, 253, 1);
  }
  .aqua{
    color: rgba(5, 212, 223, 1);
  }
  .purple{
    color: rgba(93, 88, 239, 1);
  }

  .orange2{
    background-color: rgba(254, 163, 1, 1);
  }

  .black{background-color: rgba(17, 17, 17, 1);}

  .curriculum-title, .story-title{
    margin-bottom: 80px;
    color: rgba(17, 17, 17, 1);
    font-size: 2.9rem;
    font-weight: 700;
    text-align: center;
  }


  .main{max-width:1440px;
  margin:0 auto;}

  
/* header starts here */
.navbar{
  width:1440px;
  margin:0 auto;
}



.nav{ align-items: center;
  
}
.school{
  gap:10;
}

.school-icon{
  height:100%;
}

.school-title{
  font-size: 2rem;
}
.list-item{
  list-style: none;
  margin-right: 30px;
  font-size: 1.25rem;
  font-weight:700;
}
.nav-link{
  text-decoration: none;
}

.btn-primary{
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 12px;
  border:none;
  padding: 10px 60px;
  color:white;
}

/* banner section */



.banner-title{
  font-size: 3.5rem;
  font-weight: 700;

}

.banner-description{
  font-size: 1.25rem;
  font-weight: 400;
}


.banner{
  width:1440px;
  margin:0 auto;
  display:flex;
  flex-direction: row;
  gap:300px;
}



/* curriculum */

.curriculum{
  background-image: url(../assets/bg.png);
}



.curriculum-content{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}
.btn{
  font-size: 1rem;
  font-weight: 700;
  border:none;
  background-color: white;
}

.display-flex{
  display:flex;
}
.school-years{
  max-width: 360px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding:50px 40px;
  border-radius: 18px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
.grade-title, .heading1{
  color:#202020;
  font-size: 1.5rem;
  font-weight: 700;
}

.grade-detail, .story{
  color:#808080;
  font-size: 1rem;
  font-weight: 500;
}

#gradient-1{
  background: linear-gradient(180deg, #DEF5FF, #ffffff);
}
#gradient-2{
  background: linear-gradient(180deg, #FFF4DC, #ffffff);
}
#gradient-3{
  background: linear-gradient(180deg, #F2E8FF, #ffffff);
}
.arrow1, .arrow2, .btn:hover{
  cursor:pointer;
}

.arrow{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
  gap:5px;
}
.arrow1, .arrow2{
  height:60px;
  width:60px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color:white;
  background-color: #FEA301;
  border-radius:50%;
  border:none;
}

marquee{
  background-color:  rgba(1, 172, 253, 1);
  color:white;
  font-size: 2rem;
  font-weight: 700;
}

 /* story section */
 .story-section{
  height:1100px;
  border-bottom: 20px solid white;
  background: url('../assets/bg.png'), linear-gradient(to top, #fae7c6, #ffffff)
 }

 .cards{display:flex;
gap: 10px;
}
.cards img{
  border-radius: 16px;
  width:100%;
}
 .card-box-2{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
  border-radius: 16px;
 }
.card-box-1{
  background-color: #ffffff;
  border-radius: 16px;
  max-width:540px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}
 .card-2, .card-3, .card-4, .card-5{
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
 }
 .story, .heading1, .heading {
  padding:10px;
  text-align: start;
  margin-left: 20px;
 }
 .heading1{
  font-size:1.25rem ;
  font-weight:700;
  color:#000000;
 }
 .story{
  font-size:1rem;
  font-weight:500;
  color:#666666;
 }
.heading{
  font-size:1rem;
  font-weight:700;
  color:#000000;
}

.card-date1{
  width:180px;
  height:48px;
  text-align: center;
  font-size:1rem;
  font-weight: 500;
  color:white;
  border:none;
  border-radius:47px;
  background-color: #3CD8E8;
  margin-left:20px;
  margin-top:-35px;
}
.card-date{
  width:175px;
  height:38px;
  text-align: center;
  font-size:1rem;
  font-weight: 500;
  color:white;
  border:none;
  border-radius:47px;
  background-color: #95B226;
  margin-left: 20px;
  margin-top: -35px;
}

.view{
  margin:80px 620px;
}

/* Footer */

.footer{
  max-width:1440px;
  background-color: #1f2829;
  margin: 0 auto;
}

.footer-div{
  display:flex;
  align-items: center;
  width:1080px;
  margin: 0 auto;
  gap:150px;
}
.education-img{
  margin-top:20px;
  align-items: center;
}
.education-left{
  max-width:350px;
  display:flex;
  flex-direction: column;
}
.education-title{
  font-size: 2rem;
  font-weight: 700;
  color:white;
}
.education-para{
  font-size: 1.25rem;
  font-weight: 400;
  color:white;
}
.footer-li{
  list-style: none;
}
.footer-link{
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 400;
}
.education-right img{
  margin-right: 10px;
}
#footer-about{
  font-size: 1.5rem;
  font-weight: 700;
}
.footer-li-1{
  margin-bottom: 10px;
  list-style: none;
}
.keep-touch{
  font-size: 1.6rem;
  font-weight: 700;
  color:white;
}


/* media query */
@media screen and (max-width: 576px) {
  marquee{display: none;}
  .banner{flex-direction:column;
  gap:20px;
  width:100%;
  }
  .banner-content{
    order: 2;
  }
  .banner-img{width:100%;
    order: 1;
  }

  .banner-title, .banner-description{
    text-align: center;
    padding:20px;
  }
.banner-content .btn-primary{margin-left:75px;}
.school-title, .list-item, #contact{display:none;}
.navbar{
  padding: 10px;
  border-bottom: 1px solid #FEA301;}
  
    .curriculum {
      background-size: cover;
      padding: 20px;
    }
  
    .curriculum-content {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  
    .school-years {
      max-width: 100%; 
      padding: 20px; 
      text-align: center;
      margin: 0 auto;
    }
  
    .arrow{
      display:none;
    }
  
    
  

  .story-section {
    border:none;
    height: auto;}

  .card-box-1{
    display:none;
  }
  .card-box-2{
    overflow-x: auto;
  }

  .cards img {
    width: 100%;
    height: auto;
  }
  .view {
    margin: 40px auto;
    text-align: center;
  }


  
  .footer {
    max-width: 100%;
    padding: 20px;
  }
  .footer-div {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }
  .education-left {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-right:20px;
  }
  .education-middle{
    margin-right:30px;
  }
  .education-img {
    margin: 0 auto;
  }
  .footer-li {
    text-align: center;
    margin-bottom: 10px;
  }
  #footer-about {
    text-align: center;
  }
  .keep-touch {
   text-align: center;
  }
}